.toplevel_page_hreflang_pro #wpcontent{background-color:#fff}.hreflang-container{display:table;width:100%}.hreflang-content{display:table-cell;height:500px;margin:0;padding:0;vertical-align:top}#hreflang-main-content{min-width:800px}#hreflang-sidebar-content{width:350px;padding:0 0 0 20px;padding-top:0!important}#hreflang-sidebar-content .stuffbox{border:1px solid #0054a6;border-radius:5px 5px 0 0;background-color:#EBF5FB}#master-template.href-content-wrapper{border:2px solid #f60;padding:20px;background-color:#FEF5E7}.button.save_all_page{display:none}#hreflang-title{
	display:block;
	font-size:23px;
	font-weight:400;
	margin:0;
	padding:9px 0 4px;
	line-height:1.3;
	color:#1d2327;
}.hreflang-tags-pro-wrap{background-color:#fff;padding:20px}.hreflang-tags-pro-wrap .header-banner img{width:100%;min-width:700px}.hreflang-tags-pro-wrap h3{color:#0054a6;padding-left:8px}.hreflang-tags-pro-wrap .nav-tab{background:#f60;color:#fff;border:1px solid #f60;border-radius:4px 4px 0 0}.hreflang-tags-pro-wrap .nav-tab-active{background:#0054a6;border:1px solid #0054a6}#hreflang-sidebar-content .hndle{background:#0054a6;color:#fff;border-radius:4px 4px 0 0}.hreflang-tags-pro-wrap .button,.hreflang-tags-pro-wrap .button-primary,.hreflang-tags-pro-wrap .button-secondary{text-decoration:none;font-size:13px;line-height:26px;height:28px;margin:0;padding:0 10px 1px;cursor:pointer;border-width:1px;border-style:solid;-webkit-appearance:none;-webkit-border-radius:3px;border-radius:3px;white-space:nowrap;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-shadow:none!important}.hreflang-tags-pro-wrap .button,.hreflang-tags-pro-wrap .button-secondary{color:#555;border-color:#ccc;background:#f7f7f7;-webkit-box-shadow:none;box-shadow:none;vertical-align:top}.hreflang-tags-pro-wrap p .button{vertical-align:baseline}.hreflang-tags-pro-wrap .button:hover,.hreflang-tags-pro-wrap .button-secondary:hover,.hreflang-tags-pro-wrap .button:focus,.hreflang-tags-pro-wrap .button-secondary:focus{background:#fafafa;border-color:#999;color:#222}.hreflang-tags-pro-wrap .button:focus,.hreflang-tags-pro-wrap .button-secondary:focus{-webkit-box-shadow:none;box-shadow:none}.hreflang-tags-pro-wrap .button:active,.hreflang-tags-pro-wrap .button-secondary:active{background:#eee;border-color:#999;color:#333;-webkit-box-shadow:none;box-shadow:none}.hreflang-tags-pro-wrap .button-primary{background:#f60;border-color:#f60;-webkit-box-shadow:none;box-shadow:none;color:#fff;text-decoration:none}.hreflang-tags-pro-wrap .button-primary:hover,.hreflang-tags-pro-wrap .button-primary:focus{background:#FF8B3E;border-color:#FF8B3E;-webkit-box-shadow:none;box-shadow:none;color:#fff}.hreflang-tags-pro-wrap .button-primary:focus{border-color:#0e3950;-webkit-box-shadow:none;box-shadow:none}.hreflang-tags-pro-wrap .button-primary:active{background:#f60;border-color:#f60;color:#fff;-webkit-box-shadow:none;box-shadow:none;vertical-align:top}.hreflang-tags-pro-wrap .apply_to_all_page{background-color:green!important;border:1px solid green;color:#fff}.hreflang-tags-pro-wrap .save_all_page{background-color:orange!important;border:1px solid orange;color:#fff}.hreflang-tags-pro-wrap .delete_all_page{background-color:red!important;border:1px solid red;color:#fff}.hreflang-tags-pro-wrap .apply_to_all_page:hover{color:#fafafa}.hreflang-tags-pro-wrap .save_all_page:hover{color:#fafafa}.hreflang-tags-pro-wrap .delete_all_page:hover{color:#fafafa}.stuffbox .inside{padding-left:5px!important} input.hreflang-href, .href-container input[type="text"], .href-container-cat input[type="text"] {min-width: 300px}.hreflang_pro_link_trigger{display:inline-block}.hreflang_pro_link_trigger a{margin-bottom: 2px;display: block;text-align: right;font-size: 10px;}

.hreflang-container {
    display: block;
}

table.hreflang_pro_bulk tr {
    background: white !important;
}

table.hreflang_pro_bulk tr:nth-child(4n+1),
table.hreflang_pro_bulk tr:nth-child(4n+2) {
    background: #f6f7f7 !important;
}

.html-master.hreflang-pro-html-lang {
    margin-bottom: 10px;
}

table.hreflang_pro_bulk hr {
    visibility: hidden;
}

table.hreflang_pro_bulk button {
    height: 30px;
}

@media screen and (max-width:1300px){
  #hreflang-sidebar-content {
    width: 100% !important;
    display: none;
}

#hreflang-main-content {
    min-width: unset;
    width: 100%;
    display: block;
}
table.hreflang_pro_bulk thead {
    display: none;
}
}

@media screen and (max-width:767px){

.hreflang-rows .href-lang button,
.hreflang-pro-html-lang button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.hreflang-rows .href-lang *,
.hreflang-pro-html-lang * {
    display: block;
    margin-bottom: 10px;
}

.hreflang-rows .href-lang button span,
.hreflang-pro-html-lang button span {
    margin: 0;
}

input.hreflang-href,
.href-container input[type="text"],
.href-container-cat input[type="text"],
.wp-core-ui select {
  min-width: unset !important;
  max-width: 100%;
  width: 100%;
}

.hreflang-tags-pro-wrap .header-banner img {
    min-width: 100%;
}
.row-actions {
    display: block !IMPORTANT;
    left: unset;
}
tbody#the-list td {
    display: block;
}
}

@media screen and (min-width:1024px) and (max-width:1600px){
  input.hreflang-href,
  .href-container input[type="text"],
  .href-container-cat input[type="text"] {
    min-width: 150px;
}

.wp-core-ui select {
    max-width: 150px;
}
select#html-region,
select#html-region-master {
    max-width: 250px;
}
}
